.Game > :last-child{
    margin-bottom: 40px;
}

/* Categories & Rapid */
.item-list{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


.item-list button{
    font-size: 1.3rem;
    line-height: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    transition: 0.2s ease-out;
}

.item-list button img{
    width: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.item-list button:hover{
    transform: scale(1.025);
    transition: 0.2s ease-out;
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
}
.item-list button:active{
    transform: scale(1.01);
    transition: 0.2s ease-out;
}



.gameover-feedback{
    display: block;
    margin: 10px 0;
    color: var(--secondary-color);
}

.next-word{
    display: block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);;
    margin: 10px auto;
    font-size: 1.02rem;
    padding: 2px 8px;
    border-radius: 0.2rem;
    cursor: pointer;
}

.next-word:hover{
    transform: scale(1.02);
}

.next-word:active{
    transform: scale(1.01);
}

.gameover-feedback h4{
    margin: 5px 0;
}

.gameover-feedback > .solution-word{
    font-weight: bold;
    font-size: 1.2rem;
}



/* Rapid Mode Styling */

.game-summary{    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    width: 30%;
    margin: 10px auto;
}

.game-summary > *{
    flex: 1 1;
}

.game-summary > * > h4{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.game-summary > *:nth-child(2){
    color: red;
}



.rapid-score > .score-value{
    font-size: 1.6rem;
    font-weight: 600;

}

.rapid-score h4{
    margin: 0;
    font-size: 1.2rem;
}

.rapid-score{
    color: var(--secondary-color);
}

.new-game-button{
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    margin: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.new-game-button:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.new-game-button:active{
    transform: scale(1.025);
}

