.nav-wrapper{
    display: flex;
    max-width: 40%;
    margin: auto;
    margin-top: 10px;
    align-items: center;
}

.nav-wrapper > *{
    flex: 1 auto;
    font-size: 1.5rem;
    /* line-height: 2rem; */
    /* padding: 0.1rem; */
    margin: 0 5px;
}

.nav-select{
    /* display: block; */
    margin: auto;
    /* border: 1px solid #77777780; */
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    text-align: center;
    width: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav-select:active{
    border-color: black;
}


.nav-icons-wrapper{
    display: flex;
}

.nav-icons-wrapper > button{
    flex: 1 auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* border: 1px solid #77777780; */
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    margin: 0 5px;
    cursor: pointer;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    transition: 0.2s ease-out;
}

.nav-icons-wrapper > button:hover{
    /* background: rgb(240, 240, 240);
    color: rgb(25, 25, 25); */
    
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-icons-wrapper > button:active{
    /* border-color: var(--primary-color); */
    /* background: var(--primary-color);
    color: var(--secondary-color); */
    transform: scale(1.025);
}



/* Categories & Rapid */
.item-list{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


.item-list button{
    font-size: 1.3rem;
    line-height: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    transition: 0.2s ease-out;
}

.item-list button img{
    width: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.item-list button:hover{
    transform: scale(1.025);
    transition: 0.2s ease-out;
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
}
.item-list button:active{
    transform: scale(1.01);
    transition: 0.2s ease-out;
}

