.timer {
}

.timer p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.countdown{
}

.countdown.danger {
  color: #ff8800;
}

.countdown.expired {
  color: #ff0000 !important;
}
