.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}

.popup-content{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    margin: auto;
    background-color: rgba(0,0,0, 0.75);
    border-radius: 0.4rem;
    color: white;
}

.popup-content h1{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
