.mode-select{
    display: block;
    margin: 10px auto auto auto;
}

#confetti-canvas{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: auto;
    width: 25rem;
    height: 27rem;
}

.next-word{
    display: block;
    margin: 10px auto;
}
