.gameover-feedback{
    display: block;
    margin: 10px auto;
    color: var(--secondary-color);
}

.next-word{
    display: block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);;
    margin: 10px auto;
    font-size: 1.02rem;
    padding: 2px 8px;
    border-radius: 0.2rem;
    cursor: pointer;
}

.next-word:hover{
    transform: scale(1.02);
}

.next-word:active{
    transform: scale(1.01);
}

.gameover-feedback h4{
    margin: 5px 0;
}

.gameover-feedback .solution-word{
    font-weight: bold;
    font-size: 1.2rem;
}
