
#confetti-canvas{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: auto;
    width: 25rem;
    height: 27rem;
}

.gameover-feedback .next-word{
    display: block;
    margin: 10px auto;
}

.gameover-feedback h3{
    margin: 5px 0;
}

.gameover-feedback .solution-word{
    font-weight: bold;
}
