
.nav-wrapper{
    display: flex;
    max-width: 40%;
    margin: auto;
    margin-top: 10px;
    align-items: center;
}

.nav-wrapper > *{
    flex: 1 auto;
    font-size: 1.5rem;
    /* line-height: 2rem; */
    /* padding: 0.1rem; */
    margin: 0 5px;
}

.nav-select{
    /* display: block; */
    margin: auto;
    padding: 0.0625em 0.875em;
    /* border: 1px solid #77777780; */
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    text-align: center;
    width: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 800;
}

.nav-select:active{
    border-color: black;
}

.nav-select option{
    font-weight: 600;
}

.nav-icons-wrapper{
    display: flex;
}

.nav-icons-wrapper > button{
    flex: 1 auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* border: 1px solid #77777780; */
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    margin: 0 5px;
    padding: 0.125em 0.875em;
    cursor: pointer;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    transition: 0.2s ease-out;
}

.nav-icons-wrapper > button:hover{
    /* background: rgb(240, 240, 240);
    color: rgb(25, 25, 25); */
    
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-icons-wrapper > button:active{
    /* border-color: var(--primary-color); */
    /* background: var(--primary-color);
    color: var(--secondary-color); */
    transform: scale(1.025);
}


.icon{
    color: var(--secondary-color);
}

