.main, .next-word-timer{
    max-width: 80ch;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Info */
.input-list, .rules-list, .modes-list{
    text-align: left;
}

.rules-list div{
    /* margin-left: 15px; */
}

.modes-list > li{
    text-decoration: underline;
}

.modes-list > div{
    margin-left: 15px;
    margin-bottom: 10px;
}



/* Stats */

.stats .main{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin: 20px auto;
}

/* .stats .main > *{
    flex: 1 auto;
} */


/* Gamestats */
.stats .main .game-stats{
    /* border-left: 1px solid var(--secondary-color); */
    flex: 1;
    margin: auto;
}

.wins-and-losses{
    display: inline-block;
    margin-left: 5px;
}

.wins-and-losses .wins{
    color: green;
}

.wins-and-losses .losses{
    color: red;
}

.stats .main .divider{
    width: 2px;
    background: var(--secondary-color);
}


/* Histogram */
.stats .main .histogram{
    /* border-right: 1px solid var(--secondary-color); */
    flex: 1;
    margin: auto;
}

.histogram-bar-item{
    margin: 5px 0;
    /* margin-right: 5%; */
}

.histogram-bar-item > *{
    display: inline-block;
    margin: 0 5px;
}

.histogram-bar-wrapper{
    width: 70%;
}

.histogram-bar{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Timer */
.next-word-timer{
    margin-bottom: 20px;
}

.next-word-timer h3{
    text-decoration: underline;
}
