.Tile{
    width: 4rem;
    height: 4rem;
    margin: 2px;
    font-size: 1.8rem;
    line-height: 4rem;
    border: 2px solid black;
    /* border: 2px solid rgb(0, 105, 105); */
    border-radius: 0.2rem;
    background: white;
}

.correct{
    background-color: #1a9f1a;
}

.semi{
    background-color: #dba53d;
}

.wrong{
    background-color: darkgrey;
}

