.Tile{
    width: 4rem;
    height: 4rem;
    margin: 2px;
    font-size: 1.8rem;
    line-height: 4rem;
    border: 2px solid gray;
    border-radius: 0.2rem;
}

.correct{
    background-color: green;
}

.semi{
    background-color: orange;
}

.wrong{
    background-color: grey;
}

