.Tile{
    width: 4rem;
    height: 4rem;
    margin: 2px;
    font-size: 1.8rem;
    line-height: 4rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.2rem;
    background: var(--primary-color);
}

.text-shadow{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.correct{
    background-color: #1a9f1a;
}

.semi{
    background-color: #dba53d;
}

.wrong{
    background-color: darkgrey;
}

.correct-high-contrast{
    background-color: var(--high-contrast-correct);
}

.semi-high-contrast{
    background-color: var(--high-contrast-semi);
}
